<h1>{{ 'share_bug' | translate }}</h1>
<form name="formShare">
    <div class="form-group">
        <label for="description">{{ 'description' | translate }}:</label>
        <input id="description" name="description" type="text" class="form-control" ng-model="description" placeholder="{{ 'description' | translate }}" required>
    </div>
    <div class="form-group">
        <label for="file">{{ 'select_screenshot' | translate }} ({{ 'optional' | translate }}):</label>
        <span ngf-select ng-model="screenshot" id="screenshot" name="screenshot" class="fa fa-upload"></span>
        <span ng-show="screenshot" class="screenshot-selected">{{ 'screenshot_selected' | translate }}</span>
    </div>
    <div class="form-group">
        <label for="email">{{ 'email' | translate }} ({{ 'optional' | translate }}):</label>
        <input id="email" name="email" type="email" class="form-control" ng-model="email" placeholder="{{ 'email' | translate }}" required>
    </div>
    <div class="form-group">
        <button ng-disabled="formShare.$invalid || uploading" ng-click="shareBug()">{{ 'share_bug' | translate }}</button>
    </div>

</form>
